<form [formGroup]="todoInput" (ngSubmit)="onSubmit(todoInput.value.todo)">
  <p><abbr title="(obligatoire)" aria-hidden="true">*</abbr> obligatoire</p>
  <mat-form-field>
    <mat-label for="todo">Nouvelle tâche: </mat-label>
    <input id="todo" required formControlName="todo" type="text" matInput placeholder="tâche" autocomplete="off">
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="" class="">Ajouter</button>

  <div class="errorContainer" *ngIf="(submitted) && todoInput.controls['todo'].errors">
    <p class="errors" *ngIf="todoInput.controls['todo'].errors?.required">
      Champs obligatoire
    </p>
    <p class="errors" *ngIf="todoInput.controls['todo'].hasError('minlength')">
      5 charactères minimum
    </p>
  </div>
</form>